.header {
    background-image: url("../assets//background-image.jpg");
    height: 200px;
}

.headerTitle {
    color: #133257;
}

.header h1 {
    margin: 0;
    padding-top: 75px;
    padding-left: 25px;
    text-align: left;
    color: white;
    font-size: 3rem;
}