/* styles the header and about me section */
.header {
    background-image: url("../assets//background-image.jpg");
    height: 200px;
}

.header h1 {
    margin: 0;
    padding-top: 75px;
    padding-left: 25px;
    text-align: left;
    color: white;
    font-size: 3rem;
}

.aboutMe {
    display: flex;
    flex-direction: column;
    padding: 15px;
    align-items: center;
}

.aboutMeTitle {
    color: #133257;
    font-size: 40px;
    padding: 5px 0 10px 0;
}

.image {
    display: flex;
    height: 300px;
    padding-bottom: 20px;
    border-radius: 30%;
}

.nav {
    background-color: yellowgreen;
    font-weight: 500;
}

.nav-link {
    color: #133257;
}